.create-user-article {
  background-color: #1d2023;
  width: 65%;
  height: 60%;
  margin: auto;
}

.create-user-form {
  padding: 20px 15px 30px;
}

.form-control-crud {
  display: flex;
  flex-direction: column;
}

.form-control-crud h1 {
  color: #1463f3;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.form-control-crud label {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.form-control-crud input {
  height: 30px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border-color: transparent;
  background-color: #ccd0d8;
}

.form-control-crud input:disabled {
  cursor: not-allowed;
}

.form-control-crud select {
  height: 30px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border-color: transparent;
  background-color: #ccd0d8;
}

.form-control-crud select:hover {
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
